.container h1{

    font-family: 'Ubuntu', sans-serif;
    color: #3385ff;
    font-size: 78px;
}
.container h2{

    font-family: 'Ubuntu', sans-serif;
    color: #3385ff;
    font-size: 40px;
}

.calendar {
    width: 100%;
    height: auto;
    table-layout: fixed;
    font-family: 'Ubuntu', sans-serif;
}

.input-group {
    position: relative;
}

.input-prefix {
    position: absolute;
    top: 22%;
    transform: translateY(-50%);
    left: 218px;
    pointer-events: none;
}

.calendar .task-sched {
    background-color: rgba(0, 17, 255, 0.555);
    width: 100%;
    height: 40%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.weekly {
    width: 1200px;
    height: 1050px;
    display: flex;
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #3385ff;
    flex-direction: row;
}

.weekly th,
.weekly td {
    height: 150px;
    display: flex;
    flex-direction: column;
    table-layout: fixed;
    font-family: 'Ubuntu', sans-serif;
}

.weekly th {
    height: 5%;
}

.weekly td {
    margin-left: 1rem;
}

.calendar th {
    color: #3385ff;
    text-align: center;
    height: 5%;
    padding: 10px;
    border: 0.5px solid #f0f0f0;
}

.calendar td {
    color: #3385ff;
    height: 100px;
    text-align: left;
    vertical-align: top;
    padding: 10px;
    border: 0.5px solid #f0f0f0;

}

.calendar .current-month {
    color: black;
    background-color: #f8f8f8;
    transition: 1s ease
}

.calendar .current-month:hover {
    background-color: #3385ff;

}

.calendar .today {
    background: linear-gradient(to bottom, #ffffff 0%, rgba(51, 133, 255, 0.3) 100%);

}



.calendar .todayWeek {
    background: linear-gradient(to bottom, #ffffff 0%, rgba(40, 133, 255, 0.8) 100%);

}

.pagination .material-symbols-outlined {
    font-size: 40px;
    color: #3385ff;
    transition: .5s ease;

}

.pagination .material-symbols-outlined:hover {
    transform: scale(1.1);
    color: #3385ff;
}

.pagination {
    margin: 20px 430px 0 0;
    justify-content: space-between;
}

.align-top {
    vertical-align: top;
}


.checkbox {
    position: relative;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    margin-right: 1rem;
    border-radius: 3px;
    appearance: none;
    background-color: #3385ff;
    transition: all .3s;
}

.checkbox::before {
    content: '';
    position: absolute;
    border: solid #fff;
    display: block;
    width: .4em;
    height: .8em;
    border-width: 0 .1em .1em 0;
    z-index: 1;
    opacity: 0;
    right: calc(50% - .2em);
    top: calc(50% - .6em);
    transform: rotate(0deg);
    transition: all .3s;
    transform-origin: center center;
}

.checkbox:checked {
    animation: a .3s ease-in forwards;
    background-color: linear-gradient(to bottom, #ffffff 0%, #3385ff 100%);
}

.checkbox:checked::before {
    opacity: 1;
    transform: rotate(405deg);
}

@keyframes a {
    0% {
        opacity: 1;
        transform: scale(1) rotateY(0deg);
    }

    50% {
        opacity: 0;
        transform: scale(.8) rotateY(180deg);
    }

    100% {
        opacity: 1;
        transform: scale(1) rotateY(360deg);
    }
}

.event{
    width: 100%;
display: flex;
justify-content: start;
align-items: start;
padding: 0;
gap: 5rem;
}