#curriculums {
  width: 100%;
  height: 100vh;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 10rem;
}

h1 {
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 5px;
  color: rgb(235, 235, 235);

}


#curriculums .d-flex .nav {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin-top: 2rem;
}

.tab-pane .curriculum {
  height: 86vh;
  width: 100%;
  max-width: 1700px;
  display: flex;
  /* background: linear-gradient(rgba(58, 134, 255, .6), rgba(255, 255, 255, .9));
    border-radius: 57% 43% 49% 51% / 25% 35% 65% 75%;
    box-shadow: 4px 4px 4px 4px #3a86ff;
    overflow: hidden; */
}

.tab-pane .curriculum .image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 0 5rem;

}

.tab-pane .curriculum .image img {
  border-radius: 20px;
  width: 100%;
  transform: perspective(1000px) rotateY(25deg) rotateX(0deg) rotateZ(-2deg);
  height: 650px;
  box-shadow: -10px 5px 5px rgba(58, 134, 255, 1);
  /* position: relative;
    right: 50px;
    top: -50px; */
}

.tab-pane .curriculum .details {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  color: gray;
  margin-left: 2rem;
}

.tab-pane .curriculum .details h2 {
  color: rgb(65, 65, 65);
  font-size: 30px;
  font-weight: 800;
}

.tab-pane .curriculum .details p {
  font-size: 20px;

}

.banner {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(255, 255, 255, .3), rgba(255, 255, 255, .3)), url("https://images.unsplash.com/photo-1522661067900-ab829854a57f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  background-position: center;
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
  /* Apply the blur effect */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* For Safari */
}