.home {
  width: 100%;
  height: 100vh;
  font-family: 'Ubuntu', sans-serif;
}

.carousel-item img {
  width: 1970px;
  height: 500px;
}

.container-box {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.card {
  position: relative;
  width: 300px;
  height: 250px;
  border-radius: 14px;
  z-index: 1111;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  ;
}

.bg {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 290px;
  height: 240px;
  z-index: 2;
  background: #4cc9f0;
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}



.blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #3a86ff;
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}

.bg span {
  font-size: 70px;
  color: #ffff;
  cursor: pointer;
}

.bg span:hover {
  color: #3a86ff;
}

.bg h1 {
  font-size: 20px;
  margin-top: 1rem;
  color: #fff;
}

.btn-hm:link,
.btn-hm:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px 30px;
  border: 1px solid;
  border-radius: 1000px;
  display: inline-block;
  transition: all .2s;
  position: relative;
  background-color: #3a86ff;
}

.btn-hm:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}

.btn-hm:active {
  transform: translateY(-3px);
}

.btn-hm::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  transition: all .3s;
}

.btn-hm:hover::after {
  background-color: #3a86ff;
  transform: scaleX(1.4) scaleY(1.5);
  opacity: 0;
}


.objectives {
  width: 100%;
  height: 100vh;
  background-color: #3a86ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  gap: 2rem;
  margin-top: 2rem;
  border-radius: 20px 20px 0 0;
  font-family: 'Ubuntu', sans-serif;
}

.objectives .obj-container {
  width: 95%;
  height: 50vh;
  border: 2px solid white;
  border-radius: 10rem 0 10rem 0
}

.obj-container img {
  width: 650px;
  height: 320px;
  border-top-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
}

.stats {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .6)), url('/images/pic6.jpg');
  /* Add your image path here */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 10rem;
  margin-bottom: 2rem;
  font-family: 'Ubuntu', sans-serif;
}

.stats-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}

.stats-container .stat-box {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.stat-box h1 {
  font-size: 80px;
  color: #3a86ff;
}

.stat-box p {
  font-size: 20px;
  color: #3a86ff;
}

@keyframes countAnimation {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate {
  animation: countAnimation 1s ease-in-out forwards;
}

.stats h1 {
  color: rgb(58, 134, 255);
  margin-top: 2rem;
  font-size: 70px;

}

.map {
  width: 100%;
  height: 70vh;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 4px solid rgb(58, 134, 255);
  border-left: 4px solid rgb(58, 134, 255);
  border-radius: 10px;
}

.mapping {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  color: #3a86ff;
  font-size: 20px;
}


#map {
  width: 450px;
  height: 350px;
}

.details {
  width: 600px;
  height: 400px;
  margin-top: 10rem;
}

.details h2 {
  margin-bottom: 2rem;
}

.maps {

  border: 2px solid rgb(58, 134, 255);
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px #3a86ff;

}

.marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

.details .email {
  display: flex;
}



/* CONTACT */
.contact {
  width: 100%;
  height: 120vh;
  font-family: 'Ubuntu', sans-serif;

}

.contact .info {
  border-top: 3px solid #47b2e4;
  border-bottom: 3px solid #47b2e4;
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}

.contact .info i {
  font-size: 20px;
  color: #47b2e4;
  float: left;
  width: 44px;
  height: 44px;
  background: #e7f5fb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #37517e;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #6182ba;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #47b2e4;
  color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #47b2e4;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  border-top: 3px solid #47b2e4;
  border-bottom: 3px solid #47b2e4;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
  margin-bottom: 20px;
}

.contact .php-email-form label {
  padding-bottom: 8px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #47b2e4;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
  background: #47b2e4;
  border: 0;
  padding: 12px 34px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #209dd8;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}