/* Custom styles for the sidebar */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;

    transition: left 0.3s;
    z-index: 7;
}

.sidebar.show {
    left: 0;
}

.search-btn {
    background: none !important;
}

.student-wrapper {
    overflow-y: auto;
    max-height: none;
    height: calc(100vh - 50px);

}

.student-wrapper::-webkit-scrollbar {
    display: none;
}

h6 a {
    color: white !important;
    text-decoration: none;
}

h6 a:hover {
    color: red !important;
}