<% layout('/layouts/boilerplate') -%>
  <link rel="stylesheet" href="stylesheet/curriculums.css">
  <div class="banner">

    <h1 class="text-center curriculums-nav">Curriculums</h1>

  </div>

  <section id="curriculums">
    <div class="d-flex align-items-start">
      <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link active curriculum-stat-khmer" id="v-pills-khmer-tab" data-bs-toggle="pill"
          data-bs-target="#v-pills-khmer" type="button" role="tab" aria-controls="v-pills-khmer"
          aria-selected="true">Khmer Education Program</button>
        <button class="nav-link curriculum-stat-IEP" id="v-pills-international-tab" data-bs-toggle="pill"
          data-bs-target="#v-pills-international" type="button" role="tab" aria-controls="v-pills-international"
          aria-selected="false">International English Program</button>
        <button class="nav-link curriculum-stat-GEP" id="v-pills-GeneralEnglish-tab" data-bs-toggle="pill"
          data-bs-target="#v-pills-GeneralEnglish" type="button" role="tab" aria-controls="v-pills-GeneralEnglish"
          aria-selected="false">General English Program</button>
        <button class="nav-link curriculum-stat-Chinese" id="v-pills-chinese-tab" data-bs-toggle="pill"
          data-bs-target="#v-pills-chinese" type="button" role="tab" aria-controls="v-pills-chinese"
          aria-selected="false">Chinese Language
          Classes</button>
        <button class="nav-link computer" id="v-pills-computer-tab" data-bs-toggle="pill"
          data-bs-target="#v-pills-computer" type="button" role="tab" aria-controls="v-pills-computer"
          aria-selected="false">Computer Programs</button>
        <button class="nav-link dayCare" id="v-pills-daycare-tab" data-bs-toggle="pill"
          data-bs-target="#v-pills-daycare" type="button" role="tab" aria-controls="v-pills-daycare"
          aria-selected="false">Day-care</button>
      </div>
      <div class="tab-content" id="v-pills-tabContent">


        <div class="tab-pane fade show active" id="v-pills-khmer" role="tabpanel" aria-labelledby="v-pills-khmer-tab">
          <div class="container-fluid curriculum">
            <div class="image col-md-6">
              <img class="img-fluid" src="images/khmer.png" alt="">

            </div>
            <div class="details col-md-6">
              <h2 class="curriculum-stat-khmer">Khmer Education Program</h2>
              <p class="w-75 curriculum-khmer-description"> to provide comprehensive educational experiences for students to develop their skills and
                knowledge in the Khmer language and culture. This program aims to enhance reading, writing, speaking,
                and listening abilities in Khmer, fostering a deeper understanding of Cambodia's history, literature,
                and traditions. It often focuses on language proficiency, literacy, and cultural appreciation, catering
                to students who wish to strengthen their connection to their Cambodian heritage.</p>

            </div>

          </div>

        </div>
        <div class="tab-pane fade" id="v-pills-international" role="tabpanel"
          aria-labelledby="v-pills-international-tab">
          <div class="container-fluid curriculum">
            <div class="image col-md-6">
              <img class="img-fluid" src="images/pic7.png" alt="">

            </div>
            <div class="details col-md-6">
              <h2 class="curriculum-stat-IEP">International English Program</h2>
              <p class="w-75 curriculum-IEP-description"> The International English Program offers a globally-oriented approach to English language
                learning. Geared towards students who want to achieve fluency and competency in English, this program
                emphasizes effective communication in various contexts. It typically covers grammar, vocabulary,
                reading, writing, speaking, and listening skills. Additionally, it might incorporate cross-cultural
                communication and exposure to international topics, preparing students for academic, professional, and
                social interactions on a global scale.</p>

            </div>

          </div>

        </div>
        <div class="tab-pane fade" id="v-pills-GeneralEnglish" role="tabpanel"
          aria-labelledby="v-pills-GeneralEnglish-tab">
          <div class="container-fluid curriculum">
            <div class="image col-md-6">
              <img class="img-fluid" src="images/geneng.png" alt="">

            </div>
            <div class="details col-md-6">
              <h2 class="curriculum-stat-GEP">General English Program</h2>
              <p class="w-75 curriculum-khmer-description">The General English Program provides a comprehensive foundation in English language
                skills for individuals at various proficiency levels. This curriculum is tailored to improve everyday
                communication skills, including speaking, listening, reading, and writing. It might include practical
                language use in everyday scenarios such as travel, work, and social interactions. The program's
                flexibility often caters to students seeking to enhance their language skills for personal, academic, or
                professional purposes.</p>

            </div>

          </div>

        </div>
        <div class="tab-pane fade" id="v-pills-chinese" role="tabpanel" aria-labelledby="v-pills-chinese-tab">
          <div class="container-fluid curriculum">
            <div class="image col-md-6">
              <img class="img-fluid" src="images/chinese.png" alt="">

            </div>
            <div class="details col-md-6">
              <h2 class="curriculum-stat-Chinese">Chinese Language Classes:</h2>
              <p class="w-75 curriculum-chinese-description">Chinese Language Classes focus on teaching Mandarin Chinese, one of the world's most
                spoken languages. These classes cater to beginners and those with previous exposure to Chinese, aiming
                to develop proficiency in speaking, listening, reading, and writing. The curriculum typically covers
                essential vocabulary, grammar, sentence structures, and cultural insights related to the
                Chinese-speaking world. This program could benefit students interested in cross-cultural communication,
                business opportunities, travel, or academic pursuits related to China.</p>

            </div>

          </div>

        </div>
        <div class="tab-pane fade" id="v-pills-computer" role="tabpanel" aria-labelledby="v-pills-computer-tab">
          <div class="container-fluid curriculum">
            <div class="image col-md-6">
              <img class="img-fluid" src="images/computer.png" alt="">

            </div>
            <div class="details col-md-6">
              <h2 class="computer">Computer Programs</h2>
              <p class="w-75 curriculum-computer-description">Computer Programs offer a diverse range of courses aimed at enhancing digital literacy and
                technical skills. These programs cover topics such as programming, software development, web design,
                data analysis, and more. Students learn how to effectively use software applications and programming
                languages, which are valuable skills in today's technology-driven world. Computer programs often cater
                to individuals looking to pursue careers in IT, software development, data science, and related fields.
              </p>

            </div>

          </div>

        </div>
        <div class="tab-pane fade" id="v-pills-daycare" role="tabpanel" aria-labelledby="v-pills-daycare-tab">
          <div class="container-fluid curriculum">
            <div class="image col-md-6">
              <img class="img-fluid" src="images/daycare.png" alt="">

            </div>
            <div class="details col-md-6">
              <h2 class="dayCare">Day-care</h2>
              <p class="w-75 curriculum-daycare-description">Day-care programs provide a nurturing and supportive environment for young children while
                their parents or guardians are at work or engaged in other activities. These programs ensure the safety,
                well-being, and early development of children through a combination of play, social interaction,
                creative activities, and sometimes basic learning experiences. Day-care facilities may include
                structured routines, supervised playtime, and opportunities for educational exploration, helping
                children develop social skills and foundational knowledge in a safe setting.</p>

            </div>

          </div>

        </div>
      </div>
    </div>


  </section>